*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252a; */
}
li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);

}



/* form{
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit]{
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover{
    opacity: 0.8;
} 
.imagcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar{
    width: 20%;
    border-radius: 50%;
}
#apptitle{
    background-color: #4287f5;
    width: 100%;
    height: 80px;
}
#apptitle {
    text-decoration: overline;
    text-align: center;
    font-size:80px;
    color: white;
}*/
/* CSS styling of the main page*/
.wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    width: 60%;
    margin: auto;
    left: 50%;
}
.add, .search, .all-patients {
    border: 3px solid #f1f1f1;
    width:30%;
    padding: 20px;
    text-align: center;
    margin: 10px 20px;
    
}

/* CSS Styling of add_patient*/
.hea{
    
    border: 2px solid #f1f1f1;    
    /* transform: translate(0, -10px); */
    width: 50%;
    margin: auto;
    text-align: center;
}


.inputForm{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.labelForm {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/* input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
} */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 2px solid black;
    margin-top: 30px;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
/* CSS styling for List of Patients*/
.patients_wrapper{
    width: 40%;
    margin: auto;
    border-radius: 10px;
    padding: 0px;
    margin-top: 40px;
    

}
.list_of_names{
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.list_of_names h1 {
    color: #ccc;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    background-color: #0088a9 ;
    text-shadow: 2px 2px #000;
    
}
.names{
    width: 100%;
    border-radius: 10px;
}
.patients__list{
    width: 100%;
    margin: auto;
    list-style: none;
    text-align: center;
}
.names li{
    width: 100%;
    margin: 5px 5px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    list-style: none;
    
}
.names li a{
    font-size: 30px;
}
.names li:hover{
    background-color:burlywood;
}
.search__wrapper{
    /* border: 1px solid black; */
    /* margin-right: 20px; */
    /* padding: 5px; */
    margin: auto;
    /* transform: translate(-50%, -50%); */
    width: 30%;

}
.search__box{
    display: inline-block;
    width: 70%;
    height: 70px;
    padding: 10px;
    margin-bottom: 5px;
    /* margin: 5px; */
}
.search__wrapper  input[type=submit]{
    background-color:rgba(0, 136, 169, 1);
    width: 20%;
    height: auto;
    font-size: 20px;
    float: right;
    margin: 10px;
}
@media screen and (max-width:900px) {
    .search__wrapper{
        display: none;
    }
}

.patient-name{
    border: 2px dotted #4caf50;
    margin: 10px auto;
    border-radius: 5%;
    width: 50%;
    position:relative;
    
}
.patient-name a{
    text-decoration: none;
    width: 80%;
}
/* CSS styling for patient profile*/
}
/* .col{
    border: 1px solid #4caf50;
    text-align: center;
} */

/*Next appointment table*/
.styled-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td{
    padding: 12px;  
}
.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
/*next-appointment page ***/
.appointment-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 1em;
   
}
.appointment-list > div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 1px solid black;
    text-align: center;
    background: chartreuse;
}
.appointment-list > div:nth-child(odd){
    color: rebeccapurple;
}
.titles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 1em;

}
.titles >div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 1px solid black;
    text-align: center;
    background:brown;
    color: burlywood;
}

.edit {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.cost::after{
    content: " IQD";
}
