<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule"
      scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py" 
      resourceType="Unspecified"
      requireAccess="Script"/>
    </handlers>
  </system.webServer>
    <appSettings>
      <add key="PYTHONPATH" value="c:\inetpub\wwwroot\dental"/>
      <!-- The handler here is specific to Bottle; see the next section. -->
      <add key="WSGI_HANDLER" value="dental.wsgi.application"/>
      <add key="DJANGO_SETTINGS_MODULE" value="dental.settings" />
      <!-- <add key="WSGI_LOG" value="c:\home\LogFiles\wfastcgi.log"/> -->
  </appSettings>
  
</configuration>
