{% extends 'dentist/layout.html' %}
{% load static %}
{% block title %}
Book a new appointment
{% endblock %}
{% block content %}
    <h1>Make a new appointment</h1>
    {% if message %}
        <h1>{{message}}</h1>
    {% endif %}
    <form action="{% url 'appointment' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        Appointment: <input type="text" name="appointment" id="datepicker" required>
        <!-- total cost: <input type="number" name="total_amount" id="total_amount" required> -->
        notes : <input type="text" name="notes" id="notes" required>
        <input type="submit" value="submit">
    </form>
{% endblock %}
{% block script %}
    <script src="{% static 'dentist/index.js'%}"></script>

{% endblock %}