{% extends 'dentist/layout.html' %}
{% load static%}
{% block title %}
    modify_appointment
{% endblock %}
{% block content %}
<div class="change__form">
    <h3>التعديل الجديد</h3>
    <form action="{% url 'change_appointment' edit_app.id %}" method="POST">
        {% csrf_token %}
            </select>
            
            <input type="datetime-local" name="date" id="" class="input__change" placeholder="ادخل التاريخ الجديد">
            
            <input type="text" name="notes" placeholder="اكتب الملاحظات الجديدة" class="input__change">
        
            <input type="submit" value="save" id="submit">
    </form>

</div>
    
{% endblock %}
{% block script %}
    <script src="{% static 'dentist/index.js'%}"></script>
    <script>
        window.onunload = refreshParent;
        function refreshParent(){
            window.opener.location.reload()
            window.close();
        }
       /* document.querySelector('#submit').addEventListener('click', function(){
            
        })*/
    </script>


{% endblock %}    