{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
  <head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'dentist/layout_style.css' %}">
    <link rel="stylesheet" href="{% static 'dentist/index.css' %}">
    <link rel="stylesheet" href="{% static 'dentist/jqueryui/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'dentist/jqueryui/jquery-ui.structure.css'%}">
    <link rel="stylesheet" href="{% static 'dentist/jqueryui/jquery-ui.theme.css'%}">
    <link rel="stylesheet" href="{% static 'dentist/timepicker/jquery-ui-timepicker-addon.min.css' %}">
    <!-- icon src -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'dentist/bootstrap-4.3.1-dist/css/bootstrap.min.css'%}"> 
    <script src="{% static 'dentist/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'dentist/jqueryui/jquery-ui.js'%}"></script>
    <script src="{% static 'dentist/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'dentist/timepicker/jquery-ui-timepicker-addon.min.js' %}"></script>
        
    <title>{% block title%}{% endblock %}</title>

  </head>
  <body style="background-color: #d5e2e3;">

    <!-- banner image -->
    <div class="banner">
      <img src="{% static 'dentist/images/webbanner.jpg' %}" alt="banner">
    </div>
    <div class="navs" id="topnav">
      <a href="{% url 'index' %}" class="active">الصفحة الرئيسية</a>
      <a href="{% url 'add_patient' %}">اضافة مراجع</a>
      <a href="{% url 'upcoming_appointments' %}">المواعيد القادمة</a>
      <a href="{% url 'appointment' %}">حجز موعد</a>
      <a href="{% url 'logout' %}" class="logout-btn">تسجيل خروج</a>
      <a href="javascript:void(0);" class="icon" onclick="myfunction()"> <i class="fa fa-bars"></i></a>

    </div>
    
    <script>
      function myfunction(){
        var x = document.getElementById('topnav');
        if(x.className === "navs"){
          x.className += " responsive" ;
        }else{
          x.className = "navs";
        }
      }
    </script>
    
  
  {% block content %}
    
    {% endblock %}
    {% block script %}
    
    {% endblock %}

    
  </body>
</html>


    
    

</html>