{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
  <head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'dentist/layout_style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="{% static 'dentist/index.css' %}">
    <link rel="stylesheet" href="{% static 'dentist/jqueryui/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'dentist/jqueryui/jquery-ui.structure.css'%}">
    <link rel="stylesheet" href="{% static 'dentist/jqueryui/jquery-ui.theme.css'%}">
    <link rel="stylesheet" href="{% static 'dentist/timepicker/jquery-ui-timepicker-addon.min.css' %}">
    <!-- icon src -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'dentist/bootstrap-4.3.1-dist/css/bootstrap.min.css'%}"> 
    <script src="{% static 'dentist/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'dentist/jqueryui/jquery-ui.js'%}"></script>
    <script src="{% static 'dentist/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'dentist/timepicker/jquery-ui-timepicker-addon.min.js' %}"></script>
        
    <title>{% block title%}{% endblock %}</title>

  </head>
  <body>

    <!-- banner image -->
    <div class="nav-container">
      <ul>
        <li class="active"><a href="{% url 'index'%}"><i class="fa fa-home"></i>الصفحة الرئيسية</a></li>
        <li><a href="{% url 'add_patient' %}"><i class="fa fa-user-plus"></i> اضافة مراجع</a> </li>
        <li><a href="{% url 'upcoming_appointments' %}"><i class="fa fa-calendar-check"></i>المواعيد القادمة</a> </li>
        <li><a href="{% url 'appointment' %}"><i class="fa fa-calendar-plus"></i>حجز موعد</a>  </li>
        <li><a href="{% url 'all_patients' %}"><i class="fa fa-users"></i>المراجعون</a> </li>
      </ul>
      
    </div>
   

    <!-- <script>
      function myfunction(){
        var x = document.getElementById('topnav');
        if(x.className === "navs"){
          x.className += " responsive" ;
        }else{
          x.className = "navs";
        }
      }
    </script> -->
    
  
  {% block content %}
    
  {% endblock %}
    {% block script %}
    
    {% endblock %}

    
  </body>
</html>


    
    

</html>