{% extends 'dentist/layout.html' %}
{% load static %}
{% block title %}
    Main Page
{% endblock %}
{% block content %}


     
<div class="banner">
    <div class="main_title">
      <h1>تطبيق</h1>
      <h3>طبيب الاسنان</h3>
      <div class="image">
        <i class="fas fa-user-nurse"></i>
        
      </div>
    </div>
  </div>

     <!-- <div class="wrapper">
         <div class="add">
            <a href="{% url 'add_patient' %}">
                <img src="{% static 'dentist/svg/person-plus-fill.svg' %}" style="width: 200px;"/>
            </a>
            <h1>اضافة مراجع</h1>           
         </div>
         <div class="search">
            <a href="{% url 'appointment' %}">
                <img src="{% static 'dentist/svg/calendar-plus.svg' %}" style="width: 200px;"/>
            </a>
            <h1>حجز موعد</h1>
         </div>
         <div class="all-patients">
             <a href="{% url 'all_patients' %}">
                <img src="{% static 'dentist/svg/people-fill.svg' %}" style="width: 200px;"/>
             </a>
             <h1>قائمة المراجعين</h1>
         </div>
         <div class="all-patients">
            <a href="{% url 'upcoming_appointments' %}">
                <img src="{% static 'dentist/svg/calendar-event-fill.svg' %}" style="width: 200px;"/>
            </a>
            <h1>المواعيد القادمة</h1>
        </div>
     </div> -->
     
{% endblock %}