{% extends 'dentist/layout.html' %}
{% load static%}
{% block title %}
    modify_appointment
{% endblock %}
{% block content %}
    <form action="{% url 'modify_appointment' edit_app.id %}" method="POST">
        {% csrf_token %}
        <!--<select name="name" id="">
            {% for names in patients %}
            <option value="{{names.name}}">{{names.name}}</option>
            {% endfor %}
        </select>
        <select name="treatment" id="">
                {% for items in treatments %}
                    <option value="">{{items.treatments}}</option>
                {% endfor%}
            </select>-->
            <input type="text" name="date" id="datepicker">
            <input type="text" name="notes" placeholder="change notes">
        
            <input type="submit" value="save">
    </form>

{% endblock %}
{% block script %}
    <script src="{% static 'dentist/index.js'%}"></script>

{% endblock %}    