{% extends 'dentist/layout.html'%}
{% load static %}
{% block title %}
Next_appointments
{% endblock %}
{% block content %}
{% if message %}
    <h1>{{ message }}</h1>
{% endif %}
    
    <div class="wrapp">
        
            <div class="titles">
                <div id="pat-name">patient_name</div>
                <div id="treat">treatment</div>
                <div id="appointment">appointment</div>
                <div id="note">notes</div>
                <div> Edit or Remove</div>
            
            </div>
        
        {% for item in next_appointment %}
            <div class="appointment-list">
                <div class="name">{{item.patient_name}}</div>
                <div class="treatment">{{item.treatment}}</div>
                <div class="appointment">{{item.date}}</div>
                <div class="notes">{{item.notes}}</div>
                <div class="edit">
                    <button id="{{item.id}}" class="edit">edit</button>  
                    <button class="remove">remove</button>
                </div>
                
            </div>
        {% endfor %}
    </div>

            <!--<p>{{item.patient_name}}</p>
            <p>{{item.treatment}}</p>
            <p>{{item.date}}</p>
            <p>{{item.notes}}</p>
            <button class="edit-date">edit</button>
            <hr>-->
        
    <!--<table class="styled-table" id="tableid">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Treatment</th>
                <th>Appointment</th>
                <th>Notes</th>
                
            </tr>
        </thead>
        <tbody>
        {% for item in next_appointment %}
    
            <tr id="edit_date">
                <td>{{item.patient_name.name}}</td>
                <td>{{item.treatment}}</td>
                <td>{{item.date}}</td>
                <td>{{item.notes}}</td>
            </tr>
        </tbody>
        {% endfor %}
    
    </table>-->

{% endblock %}
{% block script %}
    <script src="{% static 'dentist/next_appointment.js'%}"></script>
{% endblock %}