{% extends 'dentist/layout.html'%}
{% load static %}
{% block title %}
Next_appointments
{% endblock %}
{% block content %}
{% if message %}
    <h1>{{ message }}</h1>
{% endif %}
    
    <div class="wrapp">
        
            <div class="titles">
                <div id="pat-name">اسم المريض</div>
                <div id="treat">نوع العلاج</div>
                <div id="appointment">الموعد</div>
                <div id="note">الملاحظات</div>
                <div> تعديل الموعد </div>
            
            </div>
        
        {% for item in next_appointment %}
            <div class="appointment-list">
                <div class="name">{{item.patient_name}}</div>
                <div class="treatment">{{item.treatment}}</div>
                <div class="appointment">{{item.date}}</div>
                <div class="notes">{{item.notes}}</div>
                <div class="edit">
                    <button id="{{item.id}}" class="edit">edit</button>  
                    <button class="remove" >remove</button>
                    <button class="archive">archive</button>
                </div>
                
            </div>
        {% endfor %}
    </div>
    <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mymodal">archive</button>
    <div class="modal" id="mymodal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Archive</h5>
                </div>
            </div>
        </div>
    </div>
    
          

{% endblock %}
{% block script %}
    <script src="{% static 'dentist/next_appointment.js'%}"></script>
{% endblock %}