{% extends 'dentist/layout.html' %}
{% load static %}
{% block title %}
Patient's Profile
{% endblock %}
{% block content %}

    <div class="wrap__info">
        <h1 style="text-align: center;">معلومات المراجع</h1>
        <div class="row title_info">
            <div class="col"><h1>الاسم</h1> </div>
            <div class="col"><h1>العمر</h1> </div>
            <div class="col"><h1>الجنس</h1></div>
            <div class="col"><h1>رقم الموبايل</h1> </div>
            <div class="col"><h1>المبلغ المتبقي</h1></div>
        </div>
        <div class="row information">
            <div class="col">{{patient.name}}</div>
            <div class="col">{{patient.age}}</div>
            <div class="col">{{patient.gender}}</div>
            <div class="col">{{patient.contact_number}}</div>
            <div class="col">{{patient.remaining_amount}}</div>
        </div>
    </div>
    {% if message %}
    <h1 id="message">{{message}}</h1>
    {% else %}
    
        <div class="next_app_wrapper">
            <h1 style="text-align: center;">المواعيد القادمة</h1>
            <table class="table table-bordered">
                <thead class="table-primary">
                    <th>اسم المراجع</th>
                    <th>نوع المعالجة</th>
                    <th>التاريخ </th>
                    <th>الملاحظات</th>
                </thead>
                {% for appointment in next_appointments %}
                <tr>
                    <td>{{appointment.patient_name}}</td>
                    <td>{{appointment.treatment}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.notes}}</td>    
                </tr> 
                {% endfor %}

            </table>
        </div>
    {% endif %}
    
    <!-- Create Add appointment form-->   
    <div class="treat_container">
        <h1 style="text-align: center;">المواعيد السابقة</h1>
        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>المعالجة</th>
                    <th>الموعد</th>
                    <th>الكلفة</th>
                    <th>الملاحظات</th>
                </tr>
            </thead>

            
                {% for appointment in old_appointments %}
                <tr class="table-success">
                    <td>{{appointment.treatment.treatments}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.paid_amount}}</td>
                    <td>{{appointment.notes}}</td>
                </tr>
                {% endfor %}
                
            
        </table>
    </div>
    
{% endblock%}
{% block script %}
        <script src="{% static 'dentist/index.js'%}"></script>
{% endblock %}