{% extends 'dentist/layout.html' %}
{% load static %}
{% block title %}
Patient's Profile
{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center;">معلومات المريض</h1>
        <div class="row">
            <div class="col"><h1>الجنس</h1> </div>
            <div class="col"><h1>العمر</h1> </div>
            <div class="col"><h1>رقم الهاتف</h1></div>
            <div class="col"><h1>الاسم</h1> </div>
            <div class="col"><h1>المبلغ المتبقي</h1></div>
        </div>
        <div class="row">
            <div class="col">{{patient.gender}}</div>
            <div class="col">{{patient.age}}</div>
            <div class="col">{{patient.contact_number}}</div>
            <div class="col">{{patient.name}}</div>
            <div class="col">{{patient.remaining_amount}}</div>
        </div>
    </div>
    <!-- Create Add appointment form-->   
    <div class="treat_container">
        <h1 style="text-align: center;">List of Treatments</h1>
        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>Procudure</th>
                    <th>Appointment</th>
                    <th>Total Cost</th>
                    <th>Notes</th>
                </tr>
            </thead>
                {% for treatment in treatments %}
                <tr class="table-success">
                    <td>{{treatment.treatment_procedure}}</td>
                    <td>{{treatment.date_created}}</td>
                    <td>{{treatment.total_cost}}</td>
                    <td>{{treatment.notes}}</td>
                </tr>
                {% endfor %}
                
            
        </table>
    </div>
    
{% endblock%}
{% block script %}
        <script src="{% static 'dentist/index.js'%}"></script>
{% endblock %}