{% extends 'dentist/layout.html' %}
{% load static %}
{% block title %}
قائمة المراجعين
{% endblock %}
{% block content %}
<div class="search__wrapper">
    <form action="{% url 'search' %}" method="GET">
        <input type="text" class="search__box"  name="search" placeholder="أبحث عن اسم المراجع...">
        <input type="submit" class="btn btn-primary" value="بحث">
    </form>
    
</div>

<div class="patients_wrapper">
    <div class="list_of_names">
        <h2>المراجعين</h2>
    </div>
    <div class="page_no">
        <h4>Page Number: {{pages.number}}</h4>
    </div>
    <div class="patients__list">
        {% for patient in pages.object_list %}
            <div class="patient_item">
                <a href="{% url 'patient' patient.id %}"> {{patient.name}}</a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="page_links">
    <div class="current">
       <span id="page_word">Page :</span> <span class="num">{{ pages.number }}</span>  of <span class="num">{{ pages.paginator.num_pages}}</span>
    </div>
    {% if pages.has_previous %}
        <a href="{% url 'all_patients' %}?page=1" id="first">&laquo; first </a>
        <a href="{% url 'all_patients'%}?page={{pages.previous_page_number}}" id="pre_1">Previous Page</a>
    {% endif %}
    
    {% if pages.has_next %}
    <a href="{% url 'all_patients' %}?page={{ pages.next_page_number }}" id="next_1">Next Page</a>
    <a href="{% url 'all_patients' %}?page={{ pages.paginator.num_pages }}" id="last_1">last &raquo;</a>
    {% endif %}
</div>
    


{% endblock%}