{% extends 'dentist/layout.html' %}
{% load static %}
{% block title %}
قائمة المراجعين
{% endblock %}
{% block content %}
<div class="search__wrapper">
    <form action="{% url 'search' %}" method="GET">
        <input type="text" class="search__box"  name="search" placeholder="أبحث عن اسم المراجع...">
        <input type="submit" class="btn btn-primary" value="بحث">
    </form>
    
</div>

<div class="patients_wrapper">
    <div class="list_of_names">
        <h1 style="margin-bottom: 20px;">اسماء المراجعين</h1>
    </div>
    <div class="patients__list">
        {% for patient in patients %}
            <div class="patient_item">
                <a href="{% url 'patient' patient.id %}"> {{patient.name}}</a>
            </div>
        {% endfor %}
    </div>
</div>
    


{% endblock%}