{% extends 'dentist/layout.html' %}
{% load static %}
{% block title %}
قائمة المراجعين
{% endblock %}
{% block content %}

<form action="{% url 'search' %}" method="GET">
    <input type="text" class="search" name="search" placeholder="search Patients">
    <input type="submit" class="btn btn-primary">
</form>
<div class="list-patients">
    <h1>قائمة المراجعين</h1>
    {% for patient in patients %}
        <div class="patient-name">
            <h1><a href="{% url 'patient' patient.id %}">{{ patient.name }}</a></h1>
        </div>
    {% endfor %}
</div>
{% endblock%}