{% extends 'dentist/layout.html'%}
{% load static %}
{% block title %}
Next_appointments
{% endblock %}
{% block content %}

    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}

    <div class="wrapp">
        <div class="titles">
            <div id="pat-name">اسم المريض</div>
            <div id="treat">نوع العلاج</div>
            <div id="appointment">الموعد</div>
            <div id="note">الملاحظات</div>
            <div id="modify__appointment"> تعديل الموعد </div>
        
    </div>
        
        {% for item in upcoming_appointments %}
            <div class="appointment-list">
                <div class="name">{{item.patient_name}}</div>
                <div class="treatment">{{item.treatment}}</div>
                <div class="appointment">{{item.date}}</div>
                <div class="notes">{{item.notes}}</div>
                <div class="edit__wrapp">
                    <button id="{{item.id}}" class="edit">تغيير الموعد</button>
                    <button data-bs-toggle="modal" data-bs-target="#myModal" id="archive" class="change">انهاء الموعد</button>                  
                </div>
                
            </div>
        {% endfor %}
   
    <div class="mod mt-5">
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content" id="new_appointment">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5 class="modal-title">حجز/ انهاء موعد</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="m_1">
                            <p>يوجد موعد قادم؟, اضغط  </p> 
                            <span>موعد قادم</span>
                        </div>                           
                        <div class="m_2">
                            <p>لا يوجد موعد قادم , اضغط </p>
                            <span>ارشيف</span>
                        </div>    
                        <div class="two_btns">
                            <button type="button" class="btn btn-primary arch_btn" id="modal-archive" data-bs-dismiss="modal"  onclick="archived()">ارشيف</button>
                            <button type="button" class="btn btn-primary next_btn" id="modal-resechedule" onclick="show_schedule_form()">الموعد القادم</button>                            
                        </div> 

                    </div>

                    
                </div>

                <div class="modal-content" id="resechedule-form">
                    <div class="modal-header">
                        <h5 class="modal-title">حجز الموعد القادم</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form id="archive-form">
                            <div class="mb-3">
                                <label class="form-label ">الأسم</label>
                                <input type="text" id="patient_name" class="form-control" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">نوع العلاج</label>
                                <input type="text" id="treatment_type" class="form-control" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-labe required">المبلغ المدفوع</label>
                                <input type="text" id="paid_amount" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-labe required">تاريخ الحجز القادم</label>
                                <input type="datetime-local" class="form-control" id="new_date" required>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label">الملاحظات</label>
                                <textarea id="notes" class="form-control"></textarea>
                            </div>
                            
                        </form>
                    </div>
                    <div class="mf_2">
                        <button type="submit" class="btn btn-primary book_btn" onclick="update_schedule()" data-bs-dismiss="modal">حجز</button>
                        <button type="submit" class="btn btn-danger cancel_btn" data-bs-dismiss="modal">الغاء</button>

                    </div>
                </div>
            </div>
        </div>

      </div>

    {% endblock %}
    {% block script %}
    <script src="{% static 'dentist/next_appointment.js'%}"></script>
    <script src="{% static 'dentist/index.js'%}"></script>

    {% endblock %}
